<table class="table">
    <thead>
    <tr>
        <th>route</th>
        <th>endpoint uri</th>
        <th>state</th>
    </tr>
    </thead>
    <tbody>
    {{#routeStates.routes}}
        <tr>
            <td>{{RouteId}}</td>
            <td>{{EndpointUri}}</td>
            <td>{{State}}</td>
        </tr>
    {{/routeStates.routes}}
    </tbody>
</table>