<table class="table">
    <tbody>
        <tr>
            <td>Mean Processing Time</td>
            <td>{{context.MeanProcessingTime}}</td>
        </tr>
        <tr>
            <td>Exchanges Completed</td>
            <td>{{context.ExchangesCompleted}}</td>
        </tr>
        <tr>
            <td>Exchanges Failed</td>
            <td>{{context.ExchangesFailed}}</td>
        </tr>
        <tr>
            <td>Last Exchange Completed Exchange Id</td>
            <td>{{context.LastExchangeCompletedExchangeId}}</td>
        </tr>
    </tbody>
</table>