<!doctype html>
<html>
{{> partials/head }}
<body>
<div class="container">
    {{> partials/navbar }}

    <ul id="monitor" class="nav nav-tabs">
        <li class="active">
            <a href="#tasks" data-toggle="tab">Tasks</a>
        </li>
        <li>
            <a href="#camel" data-toggle="tab">Camel</a>
        </li>
        <li>
            <a href="#camel-context" data-toggle="tab">Camel Context</a>
        </li>
    </ul>

    <div id="monitorContent" class="tab-content">
        <div class="tab-pane active" id="tasks">
            {{> partials/tasks }}
        </div>
        <div class="tab-pane" id="camel">
            {{> partials/camel }}
        </div>
        <div class="tab-pane" id="camel-context">
            {{> partials/camel-context }}
        </div>
    </div>
</div>
</body>
<script>
$('#monitor a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
</html>
